# Dependencies
node_modules/

# Env
.env
.env.local
.env.*.local

# Build
dist/
build/
.next/
out/

# Caches / tooling
.cache/
.turbo/
.eslintcache
*.tsbuildinfo

# Logs / coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
